In [1]:
#튜플과 리스트
#튜플 생성하기:,그리고()
empty_tuple = ()
empty_tuple

()

In [2]:
#한 요소 이상의 튜플을 만들기 위해서는 각 요소 뒤에 콤마를 붙인다
one_marx = 'Groucho' , #먼저 튜플에 한 요소를 저장했다
one_marx

('Groucho',)

In [5]:
one_marx = ('Groucho',)
one_marx

('Groucho',)

In [6]:
one_marx = ('Groucho')
one_marx#괄호를 넣었는데 쉼표를 빼면 튜플이 아니라 문자열이 된다

'Groucho'

In [7]:
marx_tuple = ('Groucho','Chico','Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [8]:
type(marx_tuple)

tuple

In [9]:
a,b,c= marx_tuple
a

'Groucho'

In [10]:
b

'Chico'

In [11]:
c #튜플로 한 번에 여러 변수를 할당할 수 있다. 튜플 언패킹

'Harpo'

In [18]:
#한 문장에서 값을 교환하기 위해 임시변수를 사용하지 않고 튜플을 사용할 수 있다.
password='swordfish'
icecream = 'tuttifrutti'
password, icecream = icecream,password
print([password,icecream])

['tuttifrutti', 'swordfish']

In [19]:
#생성하기:tuple() <=다른 객체를 튜플로 만들어준다
marx_list = ['Groucho','Chico','Harpo']
type(marx_list)

list

In [20]:
#현재 marx_list타입은 list타입이다 이걸 튜플을 이용해 튜플로 바꾸자
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

In [30]:
type(tuple(marx_list)) #확인결과 리스트 타입이 튜플로 바뀐것을 알 수가 있다.

tuple

In [23]:
#결합하기:+
('Groucho',)+('Chico',)

('Groucho', 'Chico')

In [24]:
#항목 복제하기:*
# *연산자는 +연산자를 반복하는 것과 같다
('yada',)*5

('yada', 'yada', 'yada', 'yada', 'yada')

In [25]:
#비교하기는 리스트 비교와 같다고한다\
a=(7,2)
b=(7,2,9)
a==b

False

In [40]:
a<b

True

In [27]:
a>b

False

In [28]:
a<=b

True

In [29]:
a=<b

SyntaxError: invalid syntax (<ipython-input-29-f4c51811f17e>, line 1)

In [31]:
#순회하기 : for와in
words = ('fresh','out','of','ideas')
type(words)

tuple

In [34]:
imap=('fresh',)
type(imap)

tuple

In [35]:
for word in words:
    print(word)

fresh
out
of
ideas

In [36]:
#튜플은 문자열처럼 불변 객체이므로 기존 튜플을 변경할 수 없다. 문장ㄹ과 같이 튜플을 재결합하여 새 튜플을 만들 수 있다.
t1 = ('Fee', 'Fie',"Foe")
t2 = ("Flop",)
t1+t2

('Fee', 'Fie', 'Foe', 'Flop')

In [37]:
t1 +=t2
t1
#이것은 마치 튜플을 수정하는 것 처럼 보인다
#그러나 이것은 이전의 t1이 아니다. t1과t2가 가리키는 원래 튜플에 새로운 튜플을 만들고,
#새로운 튜플을t1에 할당했다. 변수 이름이 새로운 값을 가리킬 때 id()함수로 확인 할 수 있다.

('Fee', 'Fie', 'Foe', 'Flop')

In [38]:
t1 = ('Fee', 'Fie',"Foe")
t2 = ("Flop",)
id(t1)

140081366325504

In [39]:
t1+=t2
id(t1)

140081365793824

In [41]:
140081366325504 == 140081365793824
#첫번째 id(t1)값       #두 번째 id(t1)값
#id()값이 변한것을 확인할 수 있다.

False